<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brandnewday"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".AlarmService" >
        </service>

        <activity
            android:name=".BrandNewDay"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlarmSettings"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_alarm_settings" >
        </activity>
        <activity
            android:name=".WakingTime"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_waking_time" >
        </activity>
        <activity
            android:name=".MyPlaylist"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_my_playlist" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service android:name=".AlarmService" />

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".SongList"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_song_list" >
        </activity>
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".TabHost"
            android:label="@string/title_activity_tab_host" >
        </activity>
        <activity
            android:name=".TabActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_tab" >
        </activity>
        <activity
            android:name=".SongTab"
            android:label="@string/title_activity_song_tab"
            android:screenOrientation="portrait"
            android:parentActivityName="android.app.TabActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.TabActivity" />
        </activity>
        <activity
            android:name=".Ringtones"
            android:label="@string/title_activity_ringtones"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
